ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }	
    ul li {
      display: block;
      position: relative;
      float: left;
    }
    a {
      display: block;
      transition: all linear 0.2s;
      padding: 7px 15px;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
      background-color: #909eab;
      font-size: 18px;
    }
    a:hover { 
      background-color: #4b545f;
    }
    ul ul {
      display: none;
      position: absolute;
    }	
    ul li:hover > ul {
      display:inherit;
    }	
    ul ul li {
      width: 200px;
      float: none;
      display: list-item;
      position: relative;
    }
    ul ul ul {
      position: relative;
      top: -36px; 
      left: 200px;
      float: right;
    }