body {
  background-color: #c4ffd1;
}

h1 {
  color: #741313;
  background: #c4ffd1;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: #1ea767;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

a:visited {
  color: rgb(31, 53, 126);
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.El_Menu {
  background-color: #e95f5f;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.El_Menu ul{
  list-style: none;
  display: flex;
}

.El_Menu ul li{
  padding: 0px 20px;
  position: relative;
}